<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>966477713542-40r5vrlp68jbo65qk0obmn10p4grg7h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966477713542-40r5vrlp68jbo65qk0obmn10p4grg7h3</string>
	<key>API_KEY</key>
	<string>AIzaSyAOLMCxnwP64jkDzc30qASXCu67JTkN6kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>966477713542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingbuddy.ShoppingBuddy</string>
	<key>PROJECT_ID</key>
	<string>shoppingbuddy-f6013</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingbuddy-f6013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:966477713542:ios:21bb2cdb3297e949</string>
	<key>DATABASE_URL</key>
	<string>https://shoppingbuddy-f6013.firebaseio.com</string>
</dict>
</plist>